@using MyBlog.Services;
@inject IOptionService optionService;
@{
    var siteName = optionService.GetValue("siteName");
}
<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @siteName</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyBlog.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">@siteName</a>
                @if (User.Identity.IsAuthenticated)
                {
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-link text-white" asp-action="CreatePost" asp-controller="Admin">新增文章</a>
                            <a class="nav-link text-white" asp-controller="Admin" asp-action="UploadImage">圖片上傳</a>
                            <a class="nav-link text-white" asp-controller="Admin" asp-action="UpdateUser">個人資料編輯</a>
                            <a class="nav-link text-white" asp-controller="Admin" asp-action="Options">Options</a>
                            <a class="nav-link text-white" asp-controller="Login" asp-action="Logout">登出</a>
                        </div>
                    </div>
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <h1 hidden>@siteName</h1>
        <div class="row row-cols-1 row-cols-lg-2">
            <main role="main" class="col col-lg-9 pt-2 pb-2">
                @RenderBody()
            </main>
            <aside class="col col-lg-3">
                側邊
            </aside>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - @siteName 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
